<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script th:src="@{/js/request.js}"></script>
</head>
<body>
<h1>REST API test page</h1>

<form>
    <label for="apikey">API Key</label><input id="apikey" type="text" th:value="${param.apiKeyParam}"/>
    <button id="request" type="submit">Request</button>
</form>
<div id="result"></div>
<div>
    <a th:href="@{/hello}">Back</a>
</div>
</body>
</html>